<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :country, require: true %>
    <%= f.input :first_name, require: true %>
    <%= f.input :last_name, require: true %>
    <%= f.input :birthday, require: true %>
    <%= f.input :phone, require: true %>
    <%= f.collection_radio_buttons :sex, User.sexes.to_a, :first, :first, require: true %>
  </div>

  <hr>

  <div class="form-row">
    <label for="card-element">Credit or debit card</label>
    <div id="card-element"></div>
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Submit Payment</button>

<% end %>

<%= render "devise/shared/links" %>



<% content_for(:after_js) do %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    console.log("coco")
    initSubmission("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");
  </script>
<% end %>
